#modal-special {
    width: 95%;
    height: 10rem;
    background-color: #0069d9;
    top: 7rem;
    z-index: 999;
    position: absolute;
    display: none; 
    /* flex */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}

#modal-special input {
    width: 80%;
    height: 2.5rem;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    outline: none;
}

#modal-special button {
    background-color: green;
    transition: 1s;
    height: 3rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: 1px solid green;
    border-radius: 10px;
}

#modal-special button:hover {
    background-color: #fff;
    color: green;
}

#closeDetail {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    z-index: 9999;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    transition: 1s;
}

#closeDetail:hover {
    background-color: #fff;
    color: red;
}
/* .active{
    background-color: green;
    color: #fff;
} */